
.pergunta input,.pergunta .resposta { 
    display: none;
}
  
.pergunta label{
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    font-size:20px;
}
  
.pergunta input:checked ~ .resposta {
    display: block;
    color:white;
    font-size:15px;
    color:#004044;
}
